#board {
    position: relative;
}

.wrap_board_head {
    overflow: hidden;
    padding-right: 10px;
    padding-bottom: 5px;
}

.board_list, .auth {

    margin: 0;
    padding: 0;
    list-style-type: none;  

    li {
        margin: 0;
        padding: 0;
        float: left;
        margin-left: 3px;
        font-size: 12px;
        
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.board_list {

    float: left;

    li {
        border-radius: 15px;
        border: 1px solid #aaa;

        &.active, &:hover {
            background-color: #aaa;
            color: #fff;
        }

        a {
            display: block;
            height: 20px;
            padding: 1px 10px;
            color: inherit;
            text-decoration: none;
        }

    }
}

.auth {
    float: right;

    a {
        text-decoration: none;
    }
}

.wrap_board {
    position: relative;
    margin: 20px auto;
    width: 860px;
}

.table_wrapper {
    width: 860px;
    padding: 10px 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

table {
    border-collapse: collapse;
}

th {
    height: 25px;
    font-size: 12px;
    
    &.bd_num { width: 70px; }
    &.a_t { width: 530px; }
    &.a_w { width: 140px; }
    &.a_d { width: 100px; }
    &.a_delete { width: 60px; }
}

td {
    padding: 3px 5px;
    font-size: 12px;
    text-align: center;

    &.a_t { text-align: left; }
    a { text-decoration: none; }
}

tbody {

    tr {

        &:hover {
            background-color: #eee;
        }
    }
}
.wrap_board_foot {
    overflow: hidden;
    margin-top: 5px;
    padding-right: 10px;
}

.article_manage {

    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;  
    
    li {
        margin: 0;
        padding: 0;
        float: left;
        margin-left: 10px;
        font-size: 12px;
    }

    button {
        position: relative;
        width: 80px;
        height: 30px;
        color: #fff;
        border: none;
        background-color: #aaa;
        cursor: pointer;

        &:hover {
            background-color: #bcbcbc;
        }
        &:active {
            color: #555;
            background-color: #ddd;
        }
    }
}