#read {
    position: relative;
    margin-top: 30px;
}

.wrap_read {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.read_head {
    
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 10px 5px;
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.head_left {
    float: left;
    color: #aaa;

    p {
        margin: 5px 0;
    }

    .a_t {
        margin: 5px 0;
        font-size: 22px;
        font-weight: bold;
        color: #000;
    }
    
    .a_w {
        font-size: 12px;
    }
    
    .writer {
        margin-top: 10px;
        font-size: 13px;
    }
}

.modify {
    font-size: 12px;

    a {
        color: inherit;
        
        text-decoration: none;
    }
}

.read_body {
    padding: 30px 5px;
    border-bottom: 1px solid #aaa;
    font-size: 13px;
}

.comment_list {
    list-style-type: none;
}